[submodule "nerdtree"]
    path = .vim/bundle/nerdtree
    url = https://github.com/preservim/nerdtree.git

[submodule "rust.vim"]
    path = .vim/bundle/rust.vim
    url = https://github.com/wting/rust.vim.git

[submodule "vim-colors-soloarized"]
    path = .vim/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized

[submodule "vim-fugitive"]
    path = .vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git

[submodule "vim-powerline"]
    path = .vim/bundle/vim-powerline
    url = https://github.com/Lokaltog/vim-powerline.git

[submodule "vim-sensible"]
    path = .vim/bundle/vim-sensible
    url = https://github.com/tpope/vim-sensible.git

[submodule ".vim/bundle/vim-sleuth"]
	path = .vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git

[submodule "vundle"]
    path = .vim/bundle/vundle
    url = https://github.com/gmarik/vundle.git

[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git

[submodule "jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git

[submodule ".vim/bundle/vim-racer"]
	path = .vim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
